<h2>Marine Animals!</h2>

<ol>
    <% @marineanimals.each do |animal| %>
        <ul><b><%= link_to animal.name, marineanimal_path(animal) %></b>
        </ul>
    <% end %>
</ol>

<%= link_to "Add New Animal", new_marineanimal_path%><br>
<%= link_to "Dives Sites", divesites_path%><br>
<%= link_to "Home", users_path%>
