<h4>Are you sure you want to delete your profile?</h4>

<%= button_to "Yes, delete my profile. <ยบ))))><", @user, method: :delete %>
<br><br>
<%= button_to "Nevermind, go back!", divers_dives_path(@user) %>
