<h2>All Dive Sites</h2>
<ol>
    <% @divesites.each do |divesite| %>
        <li><%= link_to divesite.name, divesite %></li>
    <% end %>
</ol>

<%= link_to "Sort by Popularity", sorted_divesites_path, method: :post %>

<%= link_to "Logout", logout_path, method: :delete %>