/* Color Scheme
#E8B9BF (spanish pink)
#91EACE (pale robin egg blue)
#5398A8 (rackley, dark teal)
#4EADE5 (picton blue)
#9D9BDC (blue bell)
 */

 /* #page-container {
   width: 760px;
   margin: auto;
   background: #4EADE5;
 }
*/

/* importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #FFFF;
  text-align: center;
}

.content {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-auto-rows: minmax(150px);
grid-gap: 10px;
max-width: 960px;
margin: 0 auto;
/* color: #0F222D; */
color: #FFFF;
}

.content > * {
background: #5398A8;
}

/* This is the menu bar at the top of every page with the username and login/logout */

header {
display: grid;
background: #5398A8;
font-family: 'Roboto Slab', serif;
font-size: 20pt;
grid-template-colmuns: repeat(6, 1fr);
grid-column: 1/13;
grid-row: 1/4;

}

header h2{
grid-column: 1/3;
}

#topbarmenu {
grid-column: 3/7;
background: #5398A8;
text-align :center;
}


/* Displays on the user's dive dashboard -- shows the total number of dives and a button to create a new dive log */


/* On the user's dive dashboard, displays all of their dives */
#main {
grid-column: 1/5;
}

/* Side bar explore menu that contains top divesites and top divers */

#sideexplore {
grid-column: 5/13;
}

#sideexplore h4 {
  text-align: center;
}

#topdivesites {

}
#topdivers {

}
h1 {
  text-align: center;
  color: #fff;
  font-size: 32pt;
  margin: .1em .1em;
}
h2 {
  font-size: 16pt;
  text-transform: uppercase;
  margin-bottom: 1em;
}
strong {
  color: #fff;
  font-size: 22pt;
}
.bordered {
  border-color: #fff;
  border-width: 2pt;
  border-style: solid;
  margin: 1em;
}
.inputfield{
  color: #000;
  font-size: 12pt;
  padding: 0.2em 0.2em;
  margin: .5em;
}
.form-control {
  font-size: 11pt;
}
.form {
  margin: .2em;
}
/* login page */
#login {
  background:rgba(0, 0, 0, .4);
  text-align: center;
  padding: 0em 4em 2.5em 4em;
  display: inline-block;
  color: #fff;
  font-weight: bolder;
  margin-top: 4em;
}

/* Error Mesages for Invalid Login/Signups */
.error {

}

/* button/links */
.button {
  background-color: #E8B9BF;
  color: #5398A8;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 11pt;
  text-decoration-line: none;
  font-weight: bold;
  margin-bottom: .3em;
}
a { 
  color: #5398A8;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 11pt;
  text-decoration-line: none;
  font-weight: bold;
  margin-bottom: .3em;
}
img {
height: 200px;
width: 300px;
}

#scrollbar {
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}