
/* #page-container {
   width: 760px;
   margin: auto;
   background: #4EADE5;
 }

 html, body {
   margin: 0;
   padding: 0;
 } */

body {
<<<<<<< HEAD
  /* background: blue;  */
=======
  background: #5398A8;
  /* color: #4EADE5; */
>>>>>>> 62b8bf6c18be57a10a2a5ed406f1f8cb58507306
}
