/* Color Scheme
#E8B9BF (spanish pink)
#91EACE (pale robin egg blue)
#5398A8 (rackley, dark teal)
#4EADE5 (picton blue)
#9D9BDC (blue bell)
 */

 /* #page-container {
   width: 760px;
   margin: auto;
   background: #4EADE5;
 }
*/

/* importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #FFFF;
  font-size: 12pt;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(150px);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
/* color: #0F222D; */
  color: #FFF;
  text-align: left;
}

.content > * {
background:rgba(0, 0, 0, .4);
}

.animalcontent > * {
background:rgba(0, 0, 0, .4);
}

.animalcontent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(150px);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
/* color: #0F222D; */
  color: #FFF;
  text-align: left;
}

.divesite {
  display: grid;
  grid-auto-rows: minmax(150px);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
  color: #FFF;
  text-align: left;
  background:rgba(0, 0, 0, .4);
}

/* This is the menu bar at the top of every page with the username and login/logout */

header {
  display: grid;
  font-family: 'Roboto Slab', serif;
  font-size: 20pt;
  grid-template-colmuns: repeat(6, 1fr);
  grid-column: 1/13;
  grid-row: 1/4;
}

header h2{
  grid-column: 1/3;
}

#topbarmenu {
  grid-column: 3/7;
  text-align: right;
  align-self: center;
  padding-right: .5em;
  padding-bottom: .3em;
}
/* On the user's dive dashboard, displays all of their dives */
#main {
  padding: 2em;
  grid-column: 1/7;
}

#animalmain {
  padding: 2em;
  grid-column: 1/7;
  grid-row: 4/8;
}
#logdive {
t ext-align: center;
}
/* Side bar explore menu that contains top divesites and top divers */
#sideexplore {
  padding: 3em;
  grid-column: 7/13;
}
#sideexplore h4 {
text-align: center;
}
#topdivesites {
}
#topdivers {
}

#animalexplore {
padding: 3em;
grid-column: 7/13;
grid-row: 4/8;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 32pt;
  margin: .1em .1em;
}
h2 {
  font-size: 16pt;
  text-transform: uppercase;
  margin-bottom: 1em;
}
div.form-input-container h3 {
  text-align: center;
  text-transform: uppercase;
}
strong {
  color: #fff;
  font-size: 22pt;
}
.center {
  text-align: center;
}
.bordered {
  border-color: #fff;
  border-width: 2pt;
  border-style: solid;
  margin: 1em;
}
.inputfield{
  color: #000;
  font-size: 12pt;
  padding: 0.2em 0.2em;
  margin-bottom: .5em;
}
.select-class {
  position: relative;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom:10px;
}
.rightalign {
  text-align: right;
}
.form {
  margin: .2em;
}
.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2em;
}
.form-input-container p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-input-container p input {
  display: flex;
  align-self: end;
  justify-self: start;
  text-align: center;
  height: 30px;
  width: 180px;
}
.form-input-container p label {
  align-self: center;
}
.form-input-container p select {
  height: 30px;
  width: 180px;
  margin: 2px;
  padding: 1px;
}
.form-input-container p.dateform select {
  height: 30px;
  width: auto;
  margin: 2px;
  padding: 1px;
}
/* login page */
#login {
  background:rgba(0, 0, 0, .4);
  text-align: center;
  padding: 0em 4em 2.5em 4em;
  display: inline-block;
  color: #fff;
  font-weight: bolder;
  margin-top: 4em;
}

/* Error Mesages for Invalid Login/Signups */
.error {

}
#totaldives {
  font-weight: bold;
  color: #fff;
  background-color: #5398A8;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 11pt;
  margin-bottom: .3em;
}
/* button/links */
.button {
  background-color: #E8B9BF;
  color: #5398A8;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 11pt;
  text-decoration-line: none;
  font-weight: bold;
  margin-bottom: .3em;
}
a {
  color: #5398A8;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 11pt;
  text-decoration-line: none;
  font-weight: bold;
  margin-bottom: .3em;
}
img {
height: 200px;
width: 300px;
}
ul,ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  color: #91EACE;
}
li {
  padding-left: 1em;
  text-indent: -1em;
  color: #91EACE;
}
li a {
  color: #91EACE;
}
li:before {
  content: "🐟";
  padding-left: 20px;
  color: #91EACE;
}
li#list-entry{
  background: rgb(83,152,168,.7);
  border-radius: 10px;
  margin: 0.5em;
  padding-bottom: 0.2em;
  font-size: 11pt;
  color: #91EACE;
}
li#list-entry.list-text:before{
  background: rgb(83,152,168,.7);
  border-radius: 10px;
  margin: 0em;
  padding-bottom: 0.2em;
  font-size: 11pt;
  padding-right: 6px;
  color: #91EACE;
}
#scrollbar {
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
