<h2>All Dive Shops</h2>
<ul>
    <% @diveshops.each do |diveshop| %>
        <li><%= link_to diveshop.name, diveshop %></li>
    <% end %>
</ul>

<%= button_to "Logout", logout_path, method: :delete %>